/**
 * Palette PIVOT — surcharge minimale des variables Infima.
 */

:root {
  --ifm-color-primary: #2e5aac;
  --ifm-color-primary-dark: #29509a;
  --ifm-color-primary-darker: #274c92;
  --ifm-color-primary-darkest: #203f78;
  --ifm-color-primary-light: #3364be;
  --ifm-color-primary-lighter: #3569c6;
  --ifm-color-primary-lightest: #4c79cc;
  --ifm-code-font-size: 95%;
}

[data-theme='dark'] {
  --ifm-color-primary: #7ea6ea;
  --ifm-color-primary-dark: #5c8ee4;
  --ifm-color-primary-darker: #4b83e1;
  --ifm-color-primary-darkest: #1d63d5;
  --ifm-color-primary-light: #a0bef0;
  --ifm-color-primary-lighter: #b1c9f2;
  --ifm-color-primary-lightest: #e4ecfb;
}
